<footer id="footer" class="site-footer">
  <h2>Contact us</h2>
  <div class="content">
    <p>
      Do you have questions that weren't answered on this page? Email Johannes or Maxim and give us your input and ideas or tweet at us at <a href="http://twitter.com/mobileera">@mobileera</a>.
    </p>
    <div class="icon-deck">
      <section class="icon-card">
        <h3 class="icon fa-comment">Social</h3>
        <p>
          <a href="http://twitter.com/mobileeraconf">twitter</a><br />
          <a href="http://facebook.com/Mobile-Era-435283576660577">facebook</a>
        </p>
      </section>
      <section class="icon-card">
        <h3 class="icon fa-envelope">Email</h3>
        <p>
          <a href="#">contact@mobileera.rocks</a>
        </p>
      </section>
      <section class="icon-card">
        <h3 class="icon fa-phone">Phone</h3>
        <p>
          (+47) 90-170-176
        </p>
      </section>
    </div>
  </div>
</section>
</footer>
