<header class="site-header">
  <a class="site-title" href="{{ site.baseurl }}/">
    <img src="/images/logo_on_dark.png" alt="{{site.title}} logo" />
  </a>

  <nav id="menu" class="site-menu">
    <ul>
      <li class="current"><a href="/index.html">Home</a></li>
      <li><a href="/#introduction">The conference</a></li>
      <li><a href="/#mc_embed_signup">Attend</a></li>
      <li><a href="/#contribute">Contribute</a></li>
      <li><a href="/speaker/">Speak</a></li>
      <li><a href="/sponsor/">Sponsor</a></li>
    </ul>
  </nav>

  <!--
      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
      </nav>
  -->
</header>
